@model IEnumerable<Vidly.Models.ApplicationUser>
@*
    Note: I've set the model for this view to IEnumerable<ApplicationUser>.
    This is a simple interface implemented by the list class. Since
    in this view we only want to iterate over this list, and we don't
    need any of the operations in the List class (eg Add, Remove, etc),
    it's better to use the IEnumerable interface, which allows use to
    iterate over the list. If in the future, we replace the List with a
    different data structure, as long as it is enumerable, our view code
    will remain unchanged.
    -Mosh Hamedani
*@

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Application Users</h2>

<table id="users" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Application User</th>
            <th>DrivingLicense</th>
            <th>Phone</th>
            <th>User Role</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    @Html.AntiForgeryToken()
</table>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
        $(document).ready(function () {
            var table = $("#users").DataTable({
                ajax: {
                    url: "/api/users",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "userName"
                    },
                    {
                        data: "drivingLicense"
                    },
                    {
                        data: "phone"
                    },
                    {
                        data: "isAdmin",
                        render: function (data, type, user) {
                            if (user.isAdmin)
                                return "<button class='btn-link js-demote' data-id=" + user.id + ">Demote</button>";
                            else
                                return "<button class='btn-link js-promote' data-id=" + user.id + ">Promote</button>";
                        }
                    }
                ]
            });

            $("#users").on("click", ".js-demote", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to demote this application user?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/users/" + button.attr("data-id"),
                            method: "PUT"//,
                            //success: function () {
                            //    toastr.success("Demotion successfully recorded.");
                            //},
                            //error: function () {
                            //    toastr.error("Something went wrong with the demotion.");
                            //}
                        })
                            .done(function () {
                                toastr.success("Demotion successfully recorded.");
                                 table.ajax.reload();
                            })
                            .fail(function () {
                                toastr.error("Something went wrong with the demotion.");
                            });
                    }
                });

            });

            $("#users").on("click", ".js-promote", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to promote this application user?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/users/" + button.attr("data-id"),
                            method: "PUT"//,
                            //success: function () {
                            //    toastr.success("Promotion successfully recorded.");
                            //},
                            //error: function () {
                            //    toastr.error("Something went wrong with the promotion.");
                            //}
                        })
                            .done(function () {
                                toastr.success("Promotion successfully recorded.");
                                table.ajax.reload();
                            })
                            .fail(function () {
                                toastr.error("Something went wrong with the promotion.");
                            });
                    }
                });

            });
        });

    </script>
}